<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PCwomenOS - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/logo-1.jpeg" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  
  <header id="header" class="header d-flex align-items-center">
    <div id="google_element"></div>
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
      function loadGoogleTranslate(){
        new google.translate.TranslateElement("google_element")
      }
    </script>
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="./index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img class="rounded-circle" src="../static/logo-1.jpeg" alt="logo" width="50" height="50">
        <h1><i><span>PCwomenOS</span></i></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="text-test.html">Self Diagnostic Test</a></li>
          <li><a href="image-test.html">Ultrasound Test</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#testimonials">Reviews</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2><i>Welcome to <span>PCwomenOS</i></span></h2>
          <p style="font-size: 17px">PCOS stands for Polycystic Ovarian Syndrome. <br> Take control of your health with our PCOS prediction tool.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <!-- <a href="" class="btn-get-started">More about PCOS/PCOD</a> -->
            <a href="../static/User manual.mp4" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>User Guide</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../static/index-removebg-preview.png" class="img-fluid" alt="PCOS" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="read_more.html" class="stretched-link">Read more about PCOS</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="text-test.html" class="stretched-link">Self diagnostic test</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="image-test.html" class="stretched-link">Ultrasound test</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <div class="content ps-0 ps-lg-5">
          <p>Welcome to our PCOS detection system! We are a team of computer engineering students who are dedicated to improving the lives of women with PCOS.</p>
          <p>Our mission is to make the detection of PCOS more accessible and convenient, and to empower women with the information they need to manage their symptoms and live their best lives. PCOS can be a difficult condition to diagnose, and we believe that accurate detection is key to preventing complications and improving outcomes.</p>


          <p>PCwomenOS is a PCOS detection system built using cutting-edge technologies such as machine learning and deep learning.</p> <br>

          
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-6 col-lg-4 col-md-4">
                <img src="../static/about-removebg-preview.png" alt="About Us"
                  class="img-fluid" width="400" height="350">
              </div>
              <div class="col-xl-6 col-lg-8 col-md-8">
                
               <br><br> <p style = "text-align: left;"> Key features: </p> <br>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i>Self-diagnostic test to find the likelihood of PCOS</li>
              <li><i class="bi bi-check-circle-fill"></i>Detect the PCOS from Ultrasound Scanning Image</li>
              <li><i class="bi bi-check-circle-fill"></i>User-friendly interface</li>
              <li><i class="bi bi-check-circle-fill"></i>Easy to understand language</li>
              <li><i class="bi bi-check-circle-fill"></i>Awareness about PCOS</li>
            </ul>
        
              </div>
            </div>
           


          </p>
          <p>At our core, we are driven by a deep passion for women's health and a commitment to using technology to make a positive impact in people's lives. </p>
          <p>We believe that our PCOS detection system has the potential to transform the way women approach their health, and we are proud to be at the forefront of this important work. Thank you for choosing our PCOS detection system - we are honored to be a part of your journey towards better health.</p>
          </div>


            <!-- Our PCOS detection system is designed to be user-friendly and non-invasive, allowing women to easily monitor their hormone levels and other key indicators of PCOS from the comfort of their own homes. Our team has worked tirelessly to ensure that our system is accurate, reliable, and affordable, so that as many women as possible can benefit from our technology. -->
            
          
        </div>
        </div>

      
    </section><!-- End About Us Section -->

   
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Reviews</h2>
          <p style="font-size: 20px;">Discover the comments we received during our project journey!</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt=""> -->
                    <div>
                      <h3>Dr. Bharati Jadhav</h3>
                      <h4>Gynaecologist, Sanjivan Hospital Pune</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    You have made very nice and satisfying knowledge platform for detection of PCOS. It would help many females out there. It is very helpful and worth it. 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt=""> -->
                    <div>
                      <h3>Kartik Bankar</h3>
                      <h4>Medical Intern,Civil Hospital Satara</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    As a medical intern I must say that, it is very helpful for all the women's and doctors.
                    Easy and needy diagnosis makes this more useful. This will help everyone out there. 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <!-- <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt=""> -->
                    <div>
                      <h3>Manasi Karve</h3>
                      <h4>Housewife</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    It's a great and helpful initiative to every female out there. 
                    Google form is very well designed and easy to understand. 
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>We believe that teamwork makes the dream work, and our team is proof of that.</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="../static/sayali.jpeg" class="img-fluid" alt="sayali">
              <h4>Sayali Deodikar</h4>
              <div class="social">
                <a href="https://www.linkedin.com/in/sayali-deodikar-9988701b3/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="../static/shraddha.jpeg" class="img-fluid" alt="shraddha">
              <h4>Shraddha Jadhav</h4>
              <div class="social">
                <a href="https://www.linkedin.com/in/shraddha-jadhav-95405221a/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="../static/aishwarya.jpeg" class="img-fluid" alt="aishwarya">
              <h4>Aishwarya Joshi</h4>
              <div class="social">
                <a href="https://www.linkedin.com/in/aishwarya-joshi-3a19081b7"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="../static/sejal.jpeg" class="img-fluid" alt="sejal">
              <h4>Sejal Mutakekar</h4>
              <div class="social">
                <a href="https://www.linkedin.com/in/sejal-mutakekar-89b4301b8"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>PCwomenOS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>

