<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PCwomenOS - Read More</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/logo-1.jpeg" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header id="header" class="header d-flex align-items-center">
    <div id="google_element"></div>
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
      function loadGoogleTranslate(){
        new google.translate.TranslateElement("google_element")
      }
    </script>
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="./index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img class="rounded-circle" src="../static/logo-1.jpeg" alt="logo" width="50" height="50">
        <h1><i><span>PCwomenOS</span></i></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html#hero">Home</a></li>
          <li><a href="text-test.html">Self Diagnostic Test</a></li>
          <li><a href="image-test.html">Ultrasound Test</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#testimonials">Reviews</a></li>
          <li><a href="index.html#team">Team</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h3><i><span><u>What is PCOS?</u></span></i></h3>
          <p style="font-size: 20px">PCOS stands for Polycystic Ovary Syndrome, a hormonal disorder that affects women of reproductive age. It is characterized by the growth of multiple small cysts on the ovaries, which can cause irregular menstrual cycles, infertility, and other symptoms related to hormone imbalances.</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../static/PCOS-intro.png" class="img-fluid" alt="PCOS" data-aos="zoom-out" data-aos-delay="100" style="height: 400px;width: 600px;">
        </div>
      </div>
    </div>

    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
         <div class="col-lg-6 order-2 order-lg-1">
            <img src="../static/symptoms.png" class="img-fluid" alt="Symptoms" data-aos="zoom-out" data-aos-delay="100" style="height: 400px;width: 600px;">
          </div>
          <div class="col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-center text-center text-lg-start">
            <p style="font-size: 30px"><i><span><b><u>Symptoms of PCOS</u></b></span></i></p>
                <ul style="font-size: 20px;">
                    <li>Irregular menstrual periods or no periods at all</li>
                    <li>Heavy or prolonged periods</li>
                    <li>Excess hair growth on the face, chest, or stomach</li>
                    <li>Acne or oily skin</li>
                    <li>Weight gain or difficulty losing weight</li>
                    <li>Insulin resistance or diabetes</li>
                    <li>Mood changes, such as anxiety or depression</li>
                  </ul>
          </div>
        </div>
      </div>

    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
            <h3><i><span><u>Impact of PCOS</u></span></i></h3>
            <p style="font-size: 20px; " >PCOS is a complex condition that can have a variety of underlying causes, including genetics and environmental factors. It is important to seek medical attention if you suspect you may have PCOS, as it can have long-term health implications if left untreated.</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="../static/impact.png" class="img-fluid" alt="Impact" data-aos="zoom-out" data-aos-delay="100" style="height: 300px;width: 600px;">
          </div>
        </div>
      </div>

      <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
         <div class="col-lg-6 order-2 order-lg-1">
            <img src="../static/precautions-removebg-preview.png" class="img-fluid" alt="Precautions" data-aos="zoom-out" data-aos-delay="100" style="height: 400px;width: 600px;">
          </div>
          <div class="col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-center text-center text-lg-start">
            <p style="font-size: 30px"><i><span><b><u>Precautions of PCOS</u></b></span></i></p>
                <ul style="font-size: 20px;">
                    <li>Maintain a healthy weight</li>
                    <li>Follow a healthy diet</li>
                    <li>Exercise regularly</li>
                    <li>Manage stress</li>
                    <li>Get enough sleep</li>
                    <li>Quit smoking</li>
                    <li>Talk to your doctor</li>
                  </ul>
          </div>
        </div>
      </div>

      <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
            <h3><i><span><u>Recover From PCOS</u></span></i></h3>
            <p style="font-size: 20px; " >While there is no cure for PCOS, there are several ways to manage the symptoms and improve your overall health.</p>
            <ul style="font-size: 20px; color: rgba(255, 255, 255, 0.8);">
              <li>Take medication</li>
              <li>Work with a healthcare professional</li>
              <li>Eat a balanced diet</li>
              <li>Stay hydrated</li>
              <li>Exercise regularly</li>
              <li>Manage stress</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="../static/recover-removebg-preview.png" class="img-fluid" alt="Recover" data-aos="zoom-out" data-aos-delay="100" style="height: 400px;width: 600px;">
          </div>
        </div>
      </div>
       
      <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
         <div class="col-lg-6 order-2 order-lg-1">
            <img src="../static/healthy-removebg-preview.png" class="img-fluid" alt="Lifestyle" data-aos="zoom-out" data-aos-delay="100" style="height: 500px;width: 800px;">
          </div>
          <div class="col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-center text-center text-lg-start">
            <p style="font-size: 30px"><i><span><b><u>Maintain Healthy Lifestyle</u></b></span></i></p>
            <p style="font-size: 20px; color: black; " >Maintaining a healthy lifestyle is essential for women of all ages. Here are some tips that can help:</p>
            <ul style="font-size: 20px; color: black;">
              <li>Eat a balanced diet</li>
              <li>Stay hydrated</li>
              <li>Exercise regularly</li>
              <li>Manage stress</li>
              <li>Get enough sleep</li>
              <li>Visit your doctor regularly</li>
              <li>Maintain social connections</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
          <div class="col-lg-12">
            <br>
            <h3 ><i><span><u>Difference Between PCOS and PCOD</u></span></i></h3>
            <p style="font-size: 20px;">PCOS (Polycystic Ovary Syndrome) and PCOD (Polycystic Ovary Disease) are two different terms used to describe a similar condition affecting the ovaries in women.

                PCOS is a hormonal disorder that affects women of reproductive age. It is characterized by the presence of multiple cysts in the ovaries, irregular periods, excess androgen (male hormone) levels, and insulin resistance. PCOS can lead to various health problems such as infertility, acne, weight gain, and diabetes.
                
                On the other hand, PCOD refers to the presence of multiple cysts in the ovaries but without the presence of any other significant symptoms. PCOD is a milder form of PCOS and is not associated with hormonal imbalances or insulin resistance.
                
                In summary, PCOS is a more severe condition that includes multiple symptoms and hormonal imbalances, while PCOD is a milder condition that primarily involves the presence of multiple cysts in the ovaries.</p>
            <img src="../static/difference.jpg" class="img-fluid" alt="Difference" data-aos="zoom-out" data-aos-delay="100" style="height: 500px;width: 1200px;">
          </div>
        </div>
      </div>

      
</section>
  <!-- End Hero Section -->

  <main id="main">

   

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>PCwomenOS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>

